<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Agence Arcane</title>
</head>
<body>
    <center><h1>
        Arcane étude de cas
    </h1></center>
    <center><h2>
        Agence immobilière
    </h2></center><br/>
    <h2><a href="http://127.0.0.1:5000/modifier">Modifier les caractéristiques d’un bien</h2></a><br/>
    <h2><a href="http://127.0.0.1:5000/informations_personnelles">Renseigner ou modifier ses informations personnelles</h2></a><br/>
    <h2><a href="http://127.0.0.1:5000/biens_par_ville">Consulter les biens d’une ville</h2></a><br/>
    
    
</body>
</html>